<div class="menu-row row" style="margin-top: -8px;margin-left: 0px;margin-right: 0px;">
  <div class="col-md-3 col-sm-6">
    <p class="btn-menu" [routerLink]="['/point-presse']" routerLinkActive="router-link-active">Point de presse</p>
  </div>
  <div class="col-md-3 col-sm-6">
    <p class="btn-menu" [routerLink]="['/actualités']" routerLinkActive="router-link-active">Actualités</p>
  </div>
  <div class="col-md-3 col-sm-6">
    <p class="btn-menu" [routerLink]="['/gouvernement']" routerLinkActive="router-link-active">Que fait le
      Gouvernement</p>
  </div>
  <div class="col-md-3 col-sm-6">
    <p class="btn-menu" [routerLink]="['/ressources']" routerLinkActive="router-link-active">Ressources</p>
  </div>
</div>

