.footer{
  background-color: #083763;
  padding-top: 20px;
  position: sticky ;
  bottom: 0;
  margin-top: 20px;
}
.social{
  background-color: #0377c0;
  padding: 10px;
  position: sticky;
  bottom: 0;
  margin-top: 10px;
  height: 50px;
}
.text-color{
  color: white;
  font-weight: 100;
  margin-bottom: 0;
  font-size: 14px;
  text-align: center;
}
.text-color-size{
  color: white;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}
.sheet{
  position: absolute;
  right: 0;
  bottom:0;
  z-index: 10;
  width: 300px;
}
mat-expansion-panel-header {
  background-color: #083763;
}
mat-panel-title,
mat-panel-description{
  color: white;
}
.disable_ripple:hover{
background: #0377c0 !important;
}
.disable_ripple{
background: #083763 !important;
}
.size{
  position: relative;
  height: auto;
  width: fit-content;
}


