<div class= "footer">
  <div class="container-fluid row">
    <div class="col-md-4">
      <p class="text-color-size">Contactez-nous</p>
      <p class="text-color-size">Ministères et Organismes</p>
      <p class="text-color">&copy; 2020 | Ministère de la Santé publique - Cameroun</p>
    </div>
    <div class="col-md-4">
      <p class="text-color-size">Equipe de redation</p>
      <p class="text-color-size">Experts associés</p>
    </div>
    <div class="col-md-4">
      <p class="text-color-size">Presidence de la republique</p>
      <p class="text-color-size">Service du Premier ministre </p>
      <div class="row">
        <div class="col-4">
          <p class="text-color">Nous ecrire</p>
        </div>
        <div class="col-4">
          <p class="text-color">Plan du site</p>
        </div>
        <div class="col-4">
          <p class="text-color">Mentions légales</p>
        </div>
      </div>
    </div>
  </div>
  <div class="social">

  </div>
</div>
