.box {
    padding: 5px;
    background-color: #007a5e;
    margin: 0px 0px 10px 0px;
    color: white;
    height: 60px;
}
.text-color {
    color: white;
    margin: auto 0;
    margin-top: 10px;
}
