<div class="row">
    <div class="col-md-3">
        <div class="box">
            <h5 class="text-color">Symtomes </h5>
        </div>
        <div class="box">
            <h5 class="text-color">Prévention</h5>
        </div>
        <div class="box">
            <h5 class="text-color">Dépistage</h5>
        </div>
        <div class="box">
            <h5 class="text-color">Traitement</h5>
        </div>
        <div class="box">
            <h5 class="text-color">Presonnes vulnérables</h5>
        </div>
    </div>
    <div class="col-md-9" style="padding: 5px;">
        <div class="card">
            <img height="500" width="500" src="assets/images/symptomes-covid19-coronavirus.jpg">
            <p style="padding: 10px; font-weight: bold;">
                Vous présentez des symptômes de COVID-19 :
                Fièvre, fatigue, maux de tête, toux et maux de gorge, courbatures, gêne respiratoire.
            </p>
        </div>
    </div>
</div>