<div style="padding: 10px; margin-top: 5px;">
  <div class="row">
    <div class="col-md-9">
      <div class="liste col-md-12" (click)="open('situation')">
        <div class="row container-fluid">
          <h5 class="text-color">Situation du cameroun et à l'etranger </h5>
          <mat-icon aria-hidden="false" class="text-color" aria-label="Example home icon">navigate_next</mat-icon>
        </div>
      </div>
      <div *ngIf="view === 'situation'" class="container-fluid">
        <app-situation></app-situation>
      </div>
      <div class="liste col-md-12" (click)="open('sante')">
        <div class="row container-fluid">
          <h5 class="text-color">Votre santé </h5>
          <mat-icon aria-hidden="false" class="text-color" aria-label="Example home icon">navigate_next</mat-icon>
        </div>
      </div>
      <div *ngIf="view === 'sante'" class="container-fluid">
        <app-votre-sante></app-votre-sante>
      </div>
      <div class="liste col-md-12">
        <div class="row container-fluid">
          <h5 class="text-color">Recommandations </h5>
          <mat-icon aria-hidden="false" class="text-color" aria-label="Example home icon">navigate_next</mat-icon>
        </div>
      </div>
      <div class="liste col-md-12">
        <div class="row container-fluid">
          <h5 class="text-color">FAQ </h5>
          <mat-icon aria-hidden="false" class="text-color" aria-label="Example home icon">navigate_next</mat-icon>
        </div>
      </div>
      <div class="liste col-md-12">
        <div class="row container-fluid">
          <h5 class="text-color">Maladie COVID-19 </h5>
          <mat-icon aria-hidden="false" class="text-color" aria-label="Example home icon">navigate_next</mat-icon>
        </div>
      </div>
      <div class="liste col-md-12">
        <div class="row container-fluid">
          <h5 class="text-color">Astuces </h5>
          <mat-icon aria-hidden="false" class="text-color" aria-label="Example home icon">navigate_next</mat-icon>
        </div>
      </div>
      <div class="liste col-md-12">
        <div class="row container-fluid">
          <h5 class="text-color">Anti Fake News</h5>
          <mat-icon aria-hidden="false" class="text-color" aria-label="Example home icon">navigate_next</mat-icon>
        </div>
      </div>
      <div class="liste col-md-12">
        <div class="row container-fluid">
          <h5 class="text-color">Pharmacies </h5>
          <mat-icon aria-hidden="false" class="text-color" aria-label="Example home icon">navigate_next</mat-icon>
        </div>
      </div>
      <div class="liste col-md-12" (click)="open('sources')">
        <div class="row container-fluid">
          <h5 class="text-color">Les ressources </h5>
          <mat-icon aria-hidden="false" class="text-color" aria-label="Example home icon">navigate_next</mat-icon>
        </div>
      </div>
      <div *ngIf="view === 'sources'" class="container-fluid">
        <app-sources></app-sources>
      </div>
    </div>
    <div class="col-md-3">
      <a class="twitter-timeline" data-lang="fr" data-height="500" data-dnt="true" data-theme="light"
        href="https://twitter.com/TwitterDev/lists/national-parks?ref_src=twsrc%5Etfw">A Twitter List by TwitterDev</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>