<div class="main">
  <div class="header">
    <div class="row">
      <div class="col-9">
        <div class="row">
          <div>
            <h1 class="titre">Coronavirus (COVID-19)</h1>
          </div>
          <div>
            <h1 class="numero-vert">
              <a href="tel:+237697900523">
                <img src="assets/images/call-icon.jpg" style="height: 35px;margin-left: 40px; margin-right: 10px;">
                0800378222
              </a>
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="playstore-btn">
            <img src="assets/images/icon-android.jpg" style="height:40px;">
            <img src="assets/images/icon-apel.jpg" style="height:40px;">
          </div>
          <div class="btn-yellow-div" style="text-align:left; margin-top: 10px;">
            <p style="display: inline-block;" class="btn-yellow">Soutien et dons</p>
            <p style="display: inline-block;" class="btn-yellow">Dites nous</p>
          </div>
        </div>
      </div>
      <div class="col-3" style="text-align: right;">
        <img src="assets/images/logo-etat.jpg" style="height:100px;">
      </div>
    </div>
    <div class="row" style="border-bottom: 2px solid  #0038a5; height: max-content; ">
      <div style="text-align: left; margin-left: 10px;">
        <p style="display: inline-block; cursor: pointer">FR</p>
        <P style="display: inline-block; margin-left: 20px; cursor: pointer">EN</P>
      </div>
      <div class="search-div" style="width: 450px; height: 60px;">
        <form class="form-inline">
          <i class="fas fa-search" aria-hidden="true"></i>
          <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Rechercher"
            aria-label="Search">
        </form>

      </div>
      <div style="text-align: right; width: 100%; margin-top: -30px;" class="site-gouv-text">
        <p style="color: #0038a5;">Site gouvernement du cameroun de lute contre le Coronavirus </p>
      </div>
    </div>
  </div>
  <div class="menu-row row" style="margin-top: -8px;">
    <div class="col-md-3 col-sm-6">
      <p class="btn-menu" [routerLink]="['/point-presse']" routerLinkActive="router-link-active" >Point de presse</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <p class="btn-menu-inactif">Actualités</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <p class="btn-menu-inactif">Que fait le Gouvernement</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <p class="btn-menu-inactif">Ressources</p>
    </div>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="timeline">
          <div class="containere righte">
            <div class="contente">
              <p>Ministre de la santé</p>
              <p>01/04/2020</p>
            </div>
          </div>
          <div class="containere righte">
            <div class="contente">
              <p>Ministre de la santé</p>
              <p>01/04/2020</p>
            </div>
          </div>
          <div class="containere righte">
            <div class="contente">
              <p>Ministre de la santé</p>
              <p>01/04/2020</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <iframe height="150" src="https://www.youtube.com/embed/N4koEPJ0bjU" frameborder="0"
          allowfullscreen></iframe>
        <h3>Epidemie de coronavirus (COVID-19)</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis fugit dolorem veritatis quaerat dicta aspernatur,
          voluptas rerum ullam eos soluta, inventore doloribus saepe, illum nihil reiciendis qui sunt a minima?</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis fugit dolorem veritatis quaerat dicta aspernatur,
            voluptas rerum ullam eos soluta, inventore doloribus saepe, illum nihil reiciendis qui sunt a minima?</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis fugit dolorem veritatis quaerat dicta aspernatur,
              voluptas rerum ullam eos soluta, inventore doloribus saepe, illum nihil reiciendis qui sunt a minima?</p>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis fugit dolorem veritatis quaerat dicta aspernatur,
                voluptas rerum ullam eos soluta, inventore doloribus saepe, illum nihil reiciendis qui sunt a minima?</p>
      </div>
    </div>
  </div>

</div>
