<br>
<div class="mycontainer" style="margin-left: 60px;">
  <p style="text-align: center;font-size: 40ox;" *ngIf="points.length === 0" > Aucune donnée trouvée</p>
  <div class="row" *ngIf="points.length != 0">
    <div class="col-md-3">
      <div class="timeline">
        <div *ngIf="!btnReview" class="bton">
          <button (click)="review()" mat-icon-button aria-label="Example icon-button with a heart icon">
            <mat-icon>arrow_drop_up</mat-icon>
          </button>
        </div>
        <div class="containere righte" (click)="activeIndex(i)" *ngFor="let point of points; let i = index">
          <div class="contente" (click)="activeIndex(i)">
            <p [className]="i === indexe?'text':'textInactif'" style="margin-bottom: 5px;">{{point.source}}</p>
            <p [className]="i === indexe?'text':'textInactif'" style="margin-bottom: 5px;">
              {{point.updated_at | date:'mediumDate'}}</p>
          </div>
        </div>
        <div *ngIf="!btnPreview" class="bton">
          <button (click)="preview()" mat-icon-button aria-label="Example icon-button with a heart icon">
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <img [src]="data.image" style="height: 200px;" alt="" srcset="" *ngIf="data.image!=null">
      <iframe height="300" width="500" [src]="urlSafe" frameborder="0" *ngIf="data.videos!=null"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>{{data.libelle}}</h3>
      <quill-view-html [content]="data.description" theme="snow"></quill-view-html>
    </div>
  </div>
</div>
