.header {
    padding: 20px;
}
.titre,
.numero-vert {
    color: #0038a5;
    font-size: 27px;
    text-align: left;
    cursor: pointer;
}

.carousel {
    position: relative;
    width: 100%;
    padding-right: 0px;
}
.div-on-banner {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.199);
    padding: 50px;
    color: white;
    text-align: center;
    top: 25%;
}

.btn-yellow {
    background-color: #fbdd00;
    color: black;
    margin-left: 10px;
    padding: 2px;
    width: 160px;
    font-weight: bold;
    text-align: center;

}

.container h1 {
    font-size: 60px;
    margin-top: -50px;
}

.border-left-line {
    border-left: 5px solid white;
    text-align: left;
    padding: 50px;
}

.menu-row{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-menu{
    background-color: #0038a5;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}
.btn-menu-inactif{
  background-color: #95b5f6;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: rgb(0, 9, 112);
  top: 0;
  bottom: 0;
  left: 1%;
  margin-left: -3px;
}

/* Container around content */
.containere {
  padding: 10px 0px;
  position: relative;
  background-color: inherit;
  width: 100%;
}

/* The circles on the timeline */
.containere::after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: rgb(0, 9, 112);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the right */
.righte {
  left: 3.2%;
}

/* Fix the circle for containers on the right side */
.righte::after {
  left: -16px;
  top: 40%;
}

/* The actual content */
.contente {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .containere {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure all circles are at the same spot */
  .righte::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .righte {
    left: 0%;
  }
}


@media screen and (max-width: 850px) {
    .btn-yellow-div {
        width: 500px;
        float: left;
        display: inline-flex;
    }

    .site-gouv-text {
        display: inline-flex;
        margin-top: 10px;
        text-align: left;
    }
    .search-div {
        padding-bottom: 35px;
    }

    .container h1 {
        font-size: 15px;
        margin-top: -50px;
    }

    .border-left-line{
        text-align: left;
        border-left: none;
    }

    .div-on-banner{
        background-color: white;
        color: black;
        position: relative;
    }
}

@media screen and (max-width: 854px) {
    .container h1 {
        font-size: 35px;
        margin-top: -50px;
        padding: 0px;
    }
}
