<div class="row">
  <div class="col-md-3">
    <div class="box">
      <h5 class="text-color">Situation du cameroun (Flux) </h5>
    </div>
    <div class="box">
      <h5 class="text-color">Situation du cameroun (Cumul) </h5>
    </div>
    <div class="box">
      <h5 class="text-color">Situation du mondiale (Flux) </h5>
    </div>
    <div class="box">
      <h5 class="text-color">Situation du mondiale (Cumul) </h5>
    </div>
  </div>
  <div class="col-md-9" style="padding: 5px;">
    <div class="card">
      <div class="card-header">
        Situation du cameroun (Flux)
      </div>
      <canvas id="myChart"></canvas>
    </div>
  </div>
</div>