.social{
    position: fixed;
    bottom: 15px;
    right: 0px;
    z-index: 1;
}

.header {
    padding: 20px 20px 0px 20px;
    margin-bottom: 15px;
    background-image: url("https://mbifoundation.com/news/img/Default_1000x300.jpg");
    background-size: cover;
    color: white;
}
.titre,
.numero-vert {
    color: #0038a5;
    font-size: 18px;
    text-align: left;
    cursor: pointer;
    margin-top:10px ;

}

.div-on-banner {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.199);
    padding: 50px;
    color: white;
    text-align: center;
    top: 25%;
}

.btn-yellow {
    background-color: #fbdd00;
    color: black;
    margin-left: 10px;
    padding: 2px;
    width: 160px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.container h1 {
    font-size: 60px;
    margin-top: -50px;
}

.border-left-line {
    border-left: 5px solid white;
    text-align: left;
    padding: 50px;
}


@media screen and (max-width: 850px) {
    .btn-yellow-div {
        width: 500px;
        float: left;
        display: inline-flex;
    }

    .site-gouv-text {
        display: inline-flex;
        margin-top: 10px;
        text-align: left;
    }
    .search-div {
        padding-bottom: 35px;
    }

    .container h1 {
        font-size: 15px;
        margin-top: -50px;
    }

    .border-left-line{
        text-align: left;
        border-left: none;
    }

    .div-on-banner{
        background-color: white;
        color: black;
        position: relative;
    }
}

@media screen and (max-width: 854px) {
    .container h1 {
        font-size: 35px;
        margin-top: -50px;
        padding: 0px;
    }
}

