<div class="container-fluid">
  <div class="row">
    <mat-icon color="primary" aria-hidden="false">menu</mat-icon>
    <p class="text">Personne Agées</p>
  </div>

  <div class="row">
    <mat-icon color="primary" aria-hidden="false">menu</mat-icon>
    <p class="text">Employés du privé</p>
  </div>

  <div class="row">
    <mat-icon color="primary" aria-hidden="false">menu</mat-icon>
    <p class="text">Etudiant</p>
  </div>

  <div class="row">
    <mat-icon color="primary" aria-hidden="false">menu</mat-icon>
    <p class="text">Santé</p>
  </div>
</div>
