<div class="container-fluid">
  <div class="row">
    <p class="text">Personne Agées</p>
    <img src="assets/images/oldman.jpg" height="100" width="100" alt="" srcset="">
  </div>

  <div class="row">
    <p class="text">Employés du privé</p>
    <img src="assets/images/employer.png" height="100" width="200" alt="" srcset="">
  </div>

  <div class="row">
    <p class="text">Etudiant</p>
    <img src="assets/images/etudiant.jpg" height="100" alt="" srcset="">
  </div>

  <div class="row">
    <p class="text">Santé</p>
    <img src="assets/images/sante.png" height="100" alt="" srcset="">
  </div>
  
</div>