.carousel {
    position: relative;
    width: 100%;
    padding-right: 0px;
}
.div-on-banner {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.199);
    padding: 50px;
    color: white;
    text-align: center;
    top: 25%;
}

.btn-yellow {
    background-color: #fbdd00;
    color: black;
    margin-left: 10px;
    padding: 2px;
    width: 160px;
    font-weight: bold;
    text-align: center;

}

.container h1 {
    font-size: 60px;
    margin-top: -50px;
}

.border-left-line {
    border-left: 5px solid white;
    text-align: left;
    padding: 50px;
}

.menu-row{
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
